body
{background-color: black;
color:white}

header
{background-color:black;
color:white}



p1 {position: absolute;
  left: 500px;
  top: 200px;
}


section4 {
  position:absolute;
  right:auto;
  top: 600px
}

section5 {
  position:absolute;
  left: auto;
  top:750px
}


.us{
  max-width: 20%;
}

.map{
max-width:20%;

}
 .sis {
max-width:20%;

 }
.park {
  max-width:20%;
}

 .boys {
  max-width:20%;
 }

.intro {
  line-height: 0.15;
}





