body {background-color: black(28, 28, 31) ;}
.aboutMeSection{background-color: black(28, 28, 31);}

header {
    position: sticky; top: 0;

}
img{border-radius: 50%;

main {height: 1000px;}


border: 3px solid black}

h1{color:white}

.intro1 {color:white}

.title
{display: flex;
justify-content: space-evenly;
align-items: center}
{color: white}

.intro{max-width: 500px; text-align: left;}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f7f6;
height: 35px}

.centered{  text-align:center ;}

a{color:white}